{% extends 'base.html' %}

{% block title %}
Содержание пчел в ульях на сетчатом дне
{% endblock %}

{% block body %}
<h2>Содержание пчел в ульях на сетчатом дне</h2>
<br>
<br>
<h3>Почему сетчатое дно?</h3>
<p>
    Во-первых – вентиляция в улье!<br>
    В процессе жизнедеятельности пчелиная семья выделяет очень много воды (в цифры вдаваться не будем, просто много!).
    Летом это особых проблем не вызывает, т.к. все летки открыты на всю ширину, пчелки активно вентилируют улей и все у них прекрасно. Хотя полностью открытое сетчатое дно только помогает пчелам удалять лишнюю влагу и освобождает часть пчел для сбора нектара!<br>
    Но что же происходит в улье зимой?<br>
    Пчелы сидят в плотном клубе. Влага выделяется из клуба и удаляется из улья естественным путем, т.к. пчелы провентилировать улей не могут.<br>
    В пчеловодстве есть два ярковыроженных способа удаления влаги из улья зимой:<br>
</p>
<h3>1. Сквозная Донно-Потолочная Вентиляция.</h3>
<p>
    Это улей с глухим дном и открытыми двумя летками. Свежий воздух заходит в нижний леток, нагревается и поднимается вверх. Поднимаясь вверх воздух забирает с собой часть влаги и углекислого газа и выходит через верхний леток.<br>
    Но практика показала, что такой вентиляции недостаточно и в улье скапливается сырость, губительная для пчел. Поэтому пчеловоды прибегают к дополнительным мерам по удалению влаги из улья: делают отверстия в крыше улья, кладут рыхлый утеплитель
    (чтобы проходил влажный воздух), вставляют в крышу различные трубки, даже отгибают холстик и еще кто на что горазд…<br>
    Все эти способы довольно эффективно удаляют влагу, НО у них есть два огромных минуса:<br>
    — Вместе с влагой из улья молниеносно улетучивается драгоценное для пчел тепло. Им приходится сбиваться в очень плотный клуб, да еще и образовывать защитную корку из самых живучих пчел.<br>
    — При этих способах образуется сквозной поток воздуха (что-то вроде дымоходной трубы). А, как известно, от сквозняков в улье (как и у нас с вами в домах и квартирах) ничего хорошего ждать не приходится!<br>
</p>
<h3>2. Диффузия. Вентиляция при помощи сетчатого дна.</h3>
<p>
    Свежий воздух проникает через сетчатое дно, нагревается и поднимается вверх. Поднимающийся воздух поглощает влагу и углекислый газ. Так как углекислый газ тяжелее кислорода, то насыщенный углекислым газом воздух опускается вниз вдоль стенок улья, и выходит из него через сетчатое дно с излишней влагой (конденсатом).<br>
    Таким образом в улье не возникает сквозняков, и не выветривается драгоценное тепло. В то же время воздух в улье сухой и свежий.<br>
</p>
<h3>Другие достоинства сетчатого дна:</h3>
<p>
    — позволяет использовать для стенок улья такой материал как полистирол.<br>
    Сравнение теплоизоляции: 30мм полистирола = 200-250мм древесины! В итоге пчелкам теплее зимой, и не так жарко летом.<br>
    — при необходимости перевезти улей на новое место пчёлам не будет в нём жарко. Постановка дополнительных корпусов на кочевку отпадает, пчелы не запарятся.<br>
    — осуществление лечебных манипуляций при помощи дым-пушки через нижнюю часть улья. Следовательно отпадает необходимость открывать крышу улья и тревожить пчел.<br>
    — при протравливании клещей они осыпаются вниз и выпадают через сетку, что не даёт им возможности вернуться обратно в улей.<br>
    — наличие сетки препятствует появлению нежелательного позднего расплода осенью.<br>
</p>
{% endblock %}