{% extends 'base.html' %}

{% block title %}
Доставка
{% endblock %}

{% block body %}
<h1>информация о способах доставки</h1>
<div class="container">
  <br>
  <br>
  <h2>Улей:</h2><br>
Доставка:<br>
  Белпочтой (около 14-и руб за улей)<br>
Европочтой (около 8 руб за улей),<br>
доставкой Autolight в любую точку Беларуси до двери дома (примерно 10 — 15 руб за улей в зависимости от адреса доставки)<br>
доставляется в полностью собранном виде.<br>
Срок доставки в соответствии с нормами ТК (ориентировочно 3-4 дня)<br>
<br>
  <br>
  <h2>Ловушка:</h2><br>
Доставка:<br>
  Белпочтой (около 4-х руб за ловушку)<br>
Европочтой (около 2-х руб за ловушку),<br>
доставкой Autolight в любую точку Беларуси до двери дома (примерно 4 — 7 руб за ловушку в зависимости от адреса доставки)<br>
доставляется в полностью собранном виде.<br>
Срок доставки в соответствии с нормами ТК (ориентировочно 3-4 дня)
</div>
{% endblock %}