{% extends 'base.html' %}

{% block title %}
ловушка_описание
{% endblock %}

{% block body %}
<h1>Ловушка для пчелиных роев</h1>
<div class="elementor-text-editor elementor-clearfix">
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ловушка для пчелиных роев на 7 рамок, сделана из фанеры&nbsp; 4 мм, окрашена качественной фасадной краской темно-зеленого цвета, что делает ее долговечной и неприметной для злоумышленников на деревьях, летки легко и плотно закрываются летковыми заградителями.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Фанеру не “крутит”, т. к. каждый край любой из стенок является ребром жесткости по отношению&nbsp; к перпендикулярной&nbsp; стенке.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ловушку так же можно использовать для переноса, хранения рамок, или для содержания отводков или роев.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Очень легкая, прочная и удобная в использовании.</p><p>Особых условий хранения не требует.</p>					</div>
{% endblock %}