{% extends 'base.html' %}

{% block title %}
фото ульев
{% endblock %}

{% block body %}
</head>
<body>
<h1 style="text-align: center;">Фотогалерея</h1>
<div style="text-align: center;">
	<a><img src="\static\images\1.jpg" border="2" /></a>
	<a><img src="\static\images\2.jpg" border="2" /></a>
	<a><img src="\static\images\3.jpg" border="2" /></a>
	<a><img src="\static\images\4.jpg" border="2" /></a>
	<a><img src="\static\images\5.jpg" border="2" /></a>
	<a><img src="\static\images\6.jpg" border="2" /></a>
</div>
</body>
{% endblock %}