{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div><h1><p style="font-style:oblique">Эконом-улей</p></h1></div>
<h2>Улей многокорпусный</h2>
<a class="btn btn-success" href="/description_bee_hive">Описание</a>
<a class="btn btn-success" href="/images_bee_hive">Фото</a>
<a class="btn btn-success" href="/price_bee_hive">Цена вопроса</a>
<h2>Ловушка для пчелиных роёв</h2>
<a class="btn btn-success" href="/description_bee_trap">Описание</a>
<a class="btn btn-success" href="/images_bee_trap">Фото</a>
<a class="btn btn-success" href="/price_bee_trap">Цена вопроса</a>
{% endblock %}