{% extends 'base.html' %}

{% block title %}
ловушка_цена
{% endblock %}

{% block body %}
<div class="elementor-text-editor elementor-clearfix">
				<p>Ловушка на дадан-рамку (300мм) – 25 руб</p>
<p>Ловушка на рут-рамку (230мм) – 24 руб</p><p><span style="font-family: Inter, Roboto, Arial, &quot;sans-serif&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">Оплата: наличный/ безналичный расчёт, наложенный платёж</span></p>					</div>
{% endblock %}